#Information
 - Title: Analysing Test Results
 - ID: varamhar_flavour.7
#Description
Analysing Test Results
#Options

___
##Hmmm, what don't we see?

###Efects:<ul><li>the event [Cracked the Secret](../events/cracked_the_secret.md) happens</li></ul>
